@font-face {
    font-family: "Rari";
    src: url(../resources/fonts/Altheria-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* ************HEADER******** */
.navbar {
    background-image: url(../resources/fondo-smoke.jpg) !important;
    /* se utiliza !important para pisar el important en el backround de bootstrap */
    background-size: cover;
}

.links {
    display: flex;
    justify-content: center;
    margin: auto;
    align-content: space-between;
}

.dropdown-menu {
    background-color: rgb(255, 215, 112);
}

.fuente {
    color: rgb(255, 215, 112);
    font-family: "Rari";
    font-size: 125%;
    font-weight: 600;
    margin: auto;
    text-decoration: none;
}

.alas img {
    width: 125px;
}

.alas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.hover:hover {
    color: #252424 !important;
    background-color: rgb(255, 215, 112);
    border-radius: 5%;
}

.dropdown-item:hover {
    background-color: rgb(249, 225, 165);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: rgb(255, 215, 112);
    font-family: "Rari";
    font-size: 125%;
    font-weight: 600;
}

.btn {
    color: rgb(255, 215, 112);
    border-color: rgb(255, 215, 112);
}

header input {
    background-color: rgb(255, 215, 112);
}


/* ************ MAIN ******** */

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    width: 1444px;
    height: 700px;
}

.main {
    background-image: url(../resources/fondo-main1.jpg);
    background-size: cover;
}

.btn2 {
    border-radius: 5px;
    color: rgb(255, 215, 112);
    background-color: #252424;
    padding: 5px;
}

main img {
    margin: auto;
}

.iframe-div {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.oferta img {
    width: 170px;
    padding: 40px;
    background-image: url(../resources/fondo-smoke.jpg);
    background-size: cover;

}

.oferta {
    display: flex;
    justify-content: space-around;
}


.of1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover2:hover {
    background-color: rgb(249, 225, 165);
    color: #252424;
}

.perf-banner {
    display: flex;
    margin: 50px 0;

}

.banner {
    width: auto;

}

.h2-main {
    background-color: rgb(249, 225, 165);
    margin-top: 10px;
    border-radius: 5px;
    padding: 0 8px;
}

h3 {
    border-radius: 5px;
    border: rgb(135, 131, 121) groove;
    background-image: url(../resources/fondo.jpg);
    background-size: cover;
    color: rgb(240, 196, 84);
}

.price {
    color: #000000;
}

.main-pd-bot {
    padding-bottom: 20px;
}

.price {
    background-image: url(../resources/fondo.jpg);
    background-size: cover;
    color: rgb(240, 196, 84);
    margin: 10px 0;
}

/* *********** FOOTER ********** */

.footer {
    background-image: url(../resources/fondo-smoke.jpg);
    background-size: cover;
    border: groove #f5eb5b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 215, 112);
    font-weight: 600;
}

.footer a {
    color: rgb(255, 215, 112);
    text-decoration: none;
    font-family: "Rari";
    font-size: large;
    padding: 8px;
}

.footer a:hover {
    background-color: rgb(255, 215, 112);
    color: #252424;
    border-radius: 5px;
}

.div1f {
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.div1f ul li {
    margin: 30px;
}

.div2f ul li {
    margin: 15px;
}

.div2f {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

/* CARRITO */

.main-carrito img {
    width: 400px;
    background-image: url(../resources/fondo.jpg);
    background-size: cover;
    padding: 30px;
    border-radius: 60px;
}

.main-carrito {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.div-carrito {
    display: flex;
    width: 800px;
    justify-content: space-around;
}

.div-carrito a {
    color: rgb(240, 196, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-decoration: none;
    background-image: url(../resources/fondo.jpg);
    padding: 5px;
    border-radius: 5px;
    margin: 20px 0;
}

.div-carrito a:hover {
    color: #ffffff;
}

/* CONTACTO */

.main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 850px;
}
.main-contacto p{
    color: rgb(240, 196, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-decoration: none;
    background-image: url(../resources/fondo.jpg);
    background-size: cover;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;

}
.main-contacto a {
    color: rgb(240, 196, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-decoration: none;
    background-image: url(../resources/fondo.jpg);
    background-size: cover;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.div-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.div-contacto br{
    display: none;
}
.consulta {
    height: 160px;
    width: 250px;
}

/* PREGUNTAS FRECUENTES */

main div p a {
    text-decoration: none;
    color: #de1212;
}

.main-faqs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.main-faqs div {
    width: 800px;
}

.accordion-button {
    background-image: url(../resources/fondo.jpg);
    color: rgb(255, 215, 112);
    background-size: cover;
    background-position: center;
}

.accordion-button:hover {
    color: #ffffff;
}

.accordion-button:not(.collapsed) {
    color: rgb(255, 215, 112);
}

.accordion-body {
    background-image: url(../resources/fondo-humo.jpeg);
    color: rgb(255, 215, 112);
    background-size: cover;
    background-position: center;
}


/* MASCULINAS Y FEMENINAS */

.div-frag {
    display: flex;
    justify-content: center;
}

.fragancias img {
    width: 190px;
}

.frag-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}


.fragancias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "frag1 frag2"
        "frag3 frag4"
        "frag5 frag6"
    ;
}

.pag-menu {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #ffc107;
    --bs-pagination-bg: hsla(0, 0%, 13%, 1);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: rgb(255, 215, 112);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #000;
    --bs-pagination-hover-bg: rgb(255, 215, 112);
    --bs-pagination-hover-border-color: #000;
    --bs-pagination-focus-color: rgb(255, 215, 112);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #000;
    --bs-pagination-active-bg: #ffc107;
    --bs-pagination-active-border-color: #000;
    --bs-pagination-disabled-color: rgb(255, 215, 112);
    --bs-pagination-disabled-bg: rgb(96, 96, 96);
    --bs-pagination-disabled-border-color: #000;
    display: flex;
    padding-left: 0;
    list-style: none;
}


/* ******************* QUERYS ************************************* */

@media (max-width:426px) {
/* *************** NAVBAR ************************* */
    .navbar-toggler{
        background-color: rgb(255, 215, 112);
     }

     .links{
        display: flex;
        flex-direction: column;
        padding: 15px; 
     }
     .btn-mq-flex{
        margin: 10px 85px;
        justify-content: center;
     }
     .alas{
        padding: 15px 110px;
     }
/* *********************** FOOTER *********************  */
.footer{
    display: flex;
    flex-direction: column;
}
.div1f{
    height: auto;
    padding-top: 10px;
}
.div2f{
    height: auto;
}
/* ************************** MAIN INDEX ************************** */
.hero{
    width: 425px;
    height: 230px;
}
.h2-main{
    margin: 10px 30px;
    text-align: center;
}
.iframe-div{
    margin: auto;
}
.iframe-div iframe{
    width: 420px;
}
.oferta{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.perf-banner img{
    width: 425px;
    height: 140px;
    align-items: center;
}
/* ****************** MAIN FRAGANCIAS *************************** */
.fragancias{
    grid-template-areas: none
    ;
}
h3{
    text-align: center;
}
/* ***************************** MAIN CARRITO ******************************** */
.div-carrito{
    flex-direction: column;
    width: auto;
}
.main-carrito h3{
    margin: 10px 0;
}
.main-carrito{
    height: auto;
}
/* ***************************** MAIN FAQS ************************** */
.main-faqs div{
    width: auto;
}
.accordion-body {
    background-image: url(../resources/fondo-humo.jpeg);
    color: rgb(255, 215, 112);
    background-size: cover;
    background-position: top;
}
/* ************************************ MAIN CONTACTO *********************** */
.div-contacto p{
    text-align: center;
}
}
